<div class="col-4">

  <p>{{symbol}}</p>
  <p>{{quote.USD.price}}</p>
  <p>{{quote.USD.percent_change_24h}}</p>
  <a href='/coin/{{symbol}}'>View more</a>
<<<<<<< HEAD
  
</div>
=======
</div>

>>>>>>> 0443216f8e4e757ecd8e339bf25d9f9725a6cf81
