<div class="prediction">
    {{cryptocurrency}}
    {{!-- <h2 class="prediction-username">{{user.name}}</h2>
    <div class="all-predictions">
  
    {{> onePredictionPartial this}} --}}

    </div>
</div>