.crypto-name h1 {
    padding: 15px 15px 2px 15px;
}

.crypto-name p {
    padding: 2px 15px 15px 15px;
}

.canvas {
    padding: 40px;
}

.create-prediction {
    text-align: center;
    padding: 20px;
}