.crypto-name h1 {
    padding: 15px 15px 2px 15px;
    margin-top: 20px;
}

.crypto-name p {
    padding: 2px 15px 15px 15px;
}

.canvas {
    padding: 15px;
}

.create-prediction {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.create-prediction-text {
    margin-top: 50px;
}

//PREDICTIONS

.prediction {
    display: flex;
    width: 90%;
    justify-content: center;
    // align-items: center;
    padding: 10px;
   
}

.prediction-username {
    font-size: 1.3rem;
}

.crypto-btn-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.all-predictions {
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: flex-start;
    justify-content: space-between;
}

.one-prediction {
    display: flex;
    justify-content: space-around;
    width: 100%;
    // flex-flow: row wrap;
    text-align: left;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 2% 0;
    h2 {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
}



