.global-ranking-box {
  flex-flow: row wrap;
  color: $primary-color;
  background: rgba(33, 33, 33, 0.95);
  display: block;
  width: 400px;
  height: calc(100% - 55px - 30px);
  // padding-top: 100px;
  position: absolute;
  right: -400px;
  top: 55px;
  transition-duration: 1s;
  display: flex;
  z-index: 50;

  .global-ranking-box_wrapper {
    padding: 0 50px;
    flex-basis: 100%;
    margin-top: 2rem;
  }
  
  h2{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  ul {
    text-align: left;
    font-size: 1.25rem;
  }

  li {
    margin-bottom: 5px;
  }
}

