


<div class="create-prediction-box">

  <form action="/predictions/{{user.id}}/{{symbol}}" method="POST" id="predict">
    <h2>{{symbol}}</h2>
    <h3>Create a prediction</h3>

    <div class="prediction-market">
      <label for="prediction">Predict market</label>
      <input type="text" name="prediction" placeholder="BULL/BEAR">
    </div>
    
    <div class="prediction-price">
       <label for="price">Predict price</label>
       <input type="price" name="price" placeholder="Introduce USD value">
    </div>
    
    <div class="start-date">
      <label for="startDate">Start Date</label>
      <input type="date" name="startDate" id="startDate" placeholder="Start date">
    </div>
    
    <div class="end-date">
      <label for="endDate">End Date</label>
       <input type="date" name="endDate" id="endDate" placeholder="endDate">
    </div>
    

    <button class="create-prediction-btn"> Create New Prediction </button>

    {{#if errorMsg }}
    <div class="error-message">{{ errorMsg }}</div>
    {{/if}}

  </form>

</div>




<script>

  let today = moment(new Date()).format("YYYY-MM-DD")

  document.getElementById("startDate").value = today
  document.getElementById("endDate").value = moment(new Date()).add(1, "week").format("YYYY-MM-DD")
  
</script>