// Here ONLY font size, style and color.
$primary-color: #FFFFFF;
$primary-background-color: #1F292D;
$primary-background-input: rgba(250, 250, 250, 0.15);
$primary-body-background: #192125;
body {
    font: 14px 'Roboto', sans-serif;
    overflow-x: hidden;
    background: $primary-body-background;
    color: $primary-color;
}



a {
    color: $primary-color;
    :hover {
        color: $primary-color;
        
      }
}



h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
}

.nav-bar {
    font-family: 'Nunito', sans-serif;
    color: $primary-color;
    font-size: 1.2rem;
    background: $primary-background-color;
}

//FOOTER
footer {
    font-family: 'Noto Serif JP', serif;
    color: $primary-color;
    background: $primary-background-color;
}

//GLOBALRANKING
.global-ranking {
    color: $primary-color;
    background: rgba(0, 0, 0, 0.76);
    h2 {
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
}

//FORMS LOGIN

#login-box {
    font-family: 'Nunito', sans-serif;
    color: $primary-color;
    background: rgba(0, 0, 0, 0.8);
    h2{
        font-size: 2rem;
        font-family: 'Nunito', sans-serif;
    }
}

.login-email {
    label {
        font-size: 1.1rem;
    }
    input {
        background: $primary-background-input;
         :hover {
            background: darken($primary-background-input, 90%);
        }
    }
     ::placeholder {
        color: darken($primary-color, 20%);
    }
    ::placeholder {
        color: darken($primary-color,90%);
    }    
}

.login-pwd {
    label {
        font-size: 1.1rem;
    }
    input {
        background: $primary-background-input;
         :hover {
            background: darken($primary-background-input, 90%);
        }
    }
    ::placeholder {
        color: darken($primary-color,90%);
    } 
}

.login-btn {
    background: rgba(250, 250, 250, 0.8);
    font-size: 1.1rem;
    mix-blend-mode: screen;
}

//FORMS SIGNUP


#signup-box {
    font-family: 'Nunito', sans-serif;
    color: $primary-color;
    background: rgba(0, 0, 0, 0.8);
    h2{
        font-size: 2rem;
        font-family: 'Nunito', sans-serif;
    }
    
}

.signup-name {
    label {
        font-size: 1.1rem;
    }
    input {
        background: $primary-background-input; 
        :hover {
            background: darken($primary-background-input,90%);
        }    
    }
    ::placeholder {
        color: darken($primary-color,90%);
    }    
}


.signup-email {
    label {
        font-size: 1.1rem;
    }
    input {
        background: $primary-background-input; 
        :hover {
            background: darken($primary-background-input,90%);
        }    
    }
    ::placeholder {
        color: darken($primary-color,90%);
    }    
}


.signup-pwd {
    label {
        font-size: 1.1rem;
    }
    input {
        background: $primary-background-input;
        :hover {
            background: darken($primary-background-input,90%);
        }
    }
    ::placeholder {
        color: darken($primary-color,90%);
    } 
}

.signup-btn {
    background: rgba(250, 250, 250, 0.8); 
    font-size: 1.1rem;
    mix-blend-mode: screen;
}



//INDEX

.crypto-cards {

    h2 {
        color:$primary-color;
    }
}


//CRYPTOCURRENCY


.crypto-name h1 {
    font-size: 30px;
}

.crypto-name p {
    font-size: 20px;
    font-weight: bold;
}




