// Here ONLY font size, style and color.
$primary-color: #FFFFFF;
$primary-background-color: #39383A;
$primary-background-input: rgba(250, 250, 250, 0.15);



body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: $primary-color;
}

// a:hover {
//     color: darken($primary-color,90%);
//   }

h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
}

.nav-bar {
    font-family: 'Nunito', sans-serif;
    color: $primary-color;
    font-size: 1.2rem;
    background: $primary-background-color;
}


footer {
    font-family: 'Noto Serif JP', serif;
    color: $primary-color;
    background: $primary-background-color;
}

.global-ranking {
    color: $primary-color;
    background: rgba(0, 0, 0, 0.76);
    h2 {
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
}

#login-box {
    font-family: 'Nunito', sans-serif;
    color: $primary-color;
    background: rgba(0, 0, 0, 0.6);
    h2{
        font-size: 2rem;
        font-family: 'Nunito', sans-serif;
    }
    
}

.login-email {
    label {
        font-size: 1.1rem;
    }
    input {
        background: $primary-background-input; 
        :hover {
            background: darken($primary-background-input,90%);
        }    
    }
    ::placeholder {
        color: darken($primary-color,20%);
    }    
}


.login-pwd {
    label {
        font-size: 1.1rem;
    }
    input {
        background: $primary-background-input;
        :hover {
            background: darken($primary-background-input,90%);
        }
    }
    ::placeholder {
        color: darken($primary-color,20%);
    } 
}

.login-btn {
    background: rgba(250, 250, 250, 0.8); 
    font-size: 1.1rem;
    mix-blend-mode: screen;
}

