/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(vendors/bootstrap.min.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 14px 'Roboto', sans-serif;
  overflow-x: hidden;
  background: #212121;
  color: #FFFFFF;
  padding-bottom: 50px; }

a {
  text-decoration: none;
  color: #FFFFFF; }

h3 {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem; }

.nav-right-side li :hover {
  color: #07b5b5; }

.nav-bar {
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  font-size: 1.2rem;
  background: #292929; }

footer {
  font-family: 'Noto Serif JP', serif;
  color: #FFFFFF;
  background: #292929; }

.global-ranking {
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.76); }
  .global-ranking h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem; }
  .global-ranking p {
    font-size: 1.2rem; }

#login-box {
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  background: rgba(33, 33, 33, 0.92); }
  #login-box h2 {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif; }

.login-email label {
  font-size: 1.1rem; }

.login-email input {
  background: rgba(250, 250, 250, 0.15); }
  .login-email input :hover {
    background: rgba(21, 21, 21, 0.15); }

.login-email ::placeholder {
  color: #cccccc; }

.login-email ::placeholder {
  color: white; }

.login-pwd label {
  font-size: 1.1rem; }

.login-pwd input {
  background: rgba(250, 250, 250, 0.15); }
  .login-pwd input :hover {
    background: rgba(21, 21, 21, 0.15); }

.login-pwd ::placeholder {
  color: white; }

.login-btn {
  background: #058484;
  font-size: 1.1rem;
  color: white; }

#signup-box {
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  background: rgba(33, 33, 33, 0.92); }
  #signup-box h2 {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif; }

.signup-name label {
  font-size: 1.1rem; }

.signup-name input {
  background: rgba(250, 250, 250, 0.15); }
  .signup-name input :hover {
    background: rgba(21, 21, 21, 0.15); }

.signup-name ::placeholder {
  color: white; }

.signup-email label {
  font-size: 1.1rem; }

.signup-email input {
  background: rgba(250, 250, 250, 0.15); }
  .signup-email input :hover {
    background: rgba(21, 21, 21, 0.15); }

.signup-email ::placeholder {
  color: white; }

.signup-pwd label {
  font-size: 1.1rem; }

.signup-pwd input {
  background: rgba(250, 250, 250, 0.15); }
  .signup-pwd input :hover {
    background: rgba(21, 21, 21, 0.15); }

.signup-pwd ::placeholder {
  color: white; }

.signup-btn {
  background: #058484;
  font-size: 1.1rem;
  color: white; }

#signup2 {
  background: #058484;
  font-size: 1.4rem; }
  #signup2 :hover {
    background: rgba(21, 21, 21, 0.15); }

.crypto-cards h2 {
  color: #FFFFFF; }

.crypto-name h1 {
  font-size: 1.5rem; }

.crypto-name p {
  font-size: 1.1rem;
  font-weight: bold; }

.create-prediction-text {
  font-size: 1.2rem; }

.make-prediction {
  background: #058484;
  font-size: 1.4rem; }
  .make-prediction :hover {
    background: rgba(21, 21, 21, 0.15); }

.go-back {
  background: #058484;
  font-size: 1.4rem; }
  .go-back :hover {
    background: rgba(21, 21, 21, 0.15); }

.prediction {
  font-size: 1.4rem; }

.make-prediction {
  width: 100px;
  margin: 25px auto 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: inline-block;
  margin-right: 10px; }

.go-back {
  width: 100px;
  margin: 25px auto 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: inline-block; }

.nav-bar {
  padding: 10px 0px 10px 20px;
  display: flex;
  justify-content: space-between; }

.nav-right-side {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-right-side li {
  margin-right: 20px; }

.logo img {
  height: 40px;
  align-items: center;
  float: left; }

.name {
  margin-left: 20px;
  display: inline-block; }

.login-btn {
  width: 90%;
  margin: 0 auto 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; }

.signup-btn {
  width: 90%;
  margin: 0 auto 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; }

footer {
  padding: 5px 20px;
  position: fixed;
  bottom: 0;
  width: 100vw; }

#login-box {
  display: block;
  width: 400px;
  height: calc(100% - 55px - 30px);
  text-align: center;
  position: absolute;
  right: -400px;
  top: 55px;
  transition-duration: 1s;
  display: flex;
  align-items: center;
  z-index: 50; }

.login-box-container {
  margin: 0 auto;
  width: 100%; }

.login-email {
  display: flex;
  flex-direction: column; }
  .login-email label {
    margin-bottom: 10px; }
  .login-email input {
    width: 80%;
    margin: 0 auto 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none; }

.login-pwd {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }
  .login-pwd label {
    margin-bottom: 10px; }
  .login-pwd input {
    width: 80%;
    margin: 0 auto 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none; }

#signup-box {
  display: block;
  width: 400px;
  height: calc(100% - 55px - 30px);
  text-align: center;
  position: absolute;
  right: -400px;
  top: 55px;
  transition-duration: 1s;
  display: flex;
  align-items: center;
  z-index: 50; }

.signup-box-container {
  margin: 0 auto;
  width: 100%; }

.signup-name {
  display: flex;
  flex-direction: column; }
  .signup-name label {
    margin-bottom: 10px; }
  .signup-name input {
    width: 80%;
    margin: 0 auto 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none; }

.signup-email {
  display: flex;
  flex-direction: column; }
  .signup-email label {
    margin-bottom: 10px; }
  .signup-email input {
    width: 80%;
    margin: 0 auto 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none; }

.signup-pwd {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }
  .signup-pwd label {
    margin-bottom: 10px; }
  .signup-pwd input {
    width: 80%;
    margin: 0 auto 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none; }

#signup2 {
  width: 11%;
  margin: 25px auto 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: inline-block; }

.global-ranking-box {
  flex-flow: row wrap;
  color: #FFFFFF;
  background: rgba(33, 33, 33, 0.95);
  display: block;
  width: 400px;
  height: calc(100% - 55px - 30px);
  position: absolute;
  right: -400px;
  top: 55px;
  transition-duration: 1s;
  display: flex;
  z-index: 50; }
  .global-ranking-box .global-ranking-box_wrapper {
    padding: 0 50px;
    flex-basis: 100%;
    margin-top: 2rem; }
  .global-ranking-box h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px; }
  .global-ranking-box ul {
    text-align: left;
    font-size: 1.25rem; }
  .global-ranking-box li {
    margin-bottom: 5px; }

.crypto-container {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  height: calc(100vh - 55px - 30px);
  grid-column-gap: 6px;
  grid-row-gap: 3px;
  z-index: 30; }

.crypto-cards {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none; }
  .crypto-cards:hover {
    text-decoration: none;
    color: white; }

.crypto-name h1 {
  padding: 15px 15px 2px 15px;
  margin-top: 20px; }

.crypto-name p {
  padding: 2px 15px 15px 15px; }

.canvas {
  padding: 15px; }

.create-prediction {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center; }

.create-prediction-text {
  margin-top: 50px; }

.prediction {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: red; }

.crypto-btn-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */