.login-btn {
  width: 90%;
  margin: 0 auto 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.signup-btn {
  width: 90%;
  margin: 0 auto 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}