.make-prediction {
  width: 100px;
  margin: 25px auto 0;
  padding: 10px ;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 50px;
}

.go-back {
  width: 100px;
  margin: 25px auto 0;
  padding: 10px ;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;

}




