.nav-bar {
    padding: 20px;
    background: #39383A;
    display: flex;
    justify-content: space-between;
}

.nav-right-side {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}