.nav-bar {
    padding: 10px 0px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.nav-right-side {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-right-side {
    li {
        margin-right: 20px;
    }
}

.logo img {
    height: 40px;
    // display: flex;
    align-items: center;
    // display: inline-block;
    float: left;
}

.name {
    // justify-self: flex-start;
    margin-left: 20px;
    display: inline-block;
}

